@using CarLife.Application.Dto
@using CarLife.Core.Entities
@using Microsoft.AspNetCore.Identity
@model IEnumerable<NewsIndexDto>

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    bool isAuthenticated = User.Identity?.IsAuthenticated == true;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="my-4">News</h1>
        <a type="button" class="btn btn-outline-secondary text-white bg-dark nav-link w-25"
           asp-area="" asp-controller="News" asp-action="Add" style="border-color:white">
            Add news
        </a>
        <div class="form-group">
            <label for="sortSelect" class="mt-2">Sort by:</label>
            <select class="form-control mt-2" id="sortSelect">
                <option value="0">Select a theme</option>
                @if (Model != null)
                {
                    var themes = Model.Select(x => x.NewsTheme).Distinct().ToList();
                    foreach (var theme in themes)
                    {
                        <option value="@theme?.Id">@theme?.Name</option>
                    }
                }
            </select>
        </div>

        @if (Model != null)
        {
            @foreach (var article in Model)
            {
                <div class="container news-container">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="@article.Photo" class="img-fluid news-image">
                        </div>
                        <div class="col-md-8 news-content">
                            <h2>@article.Title</h2>
                            <h3>@article.NewsTheme?.Name</h3>
                            <p>@article.Description</p>
                            <p>Posted on: @article.DateOfPost.ToString("dd MMM yyyy")</p>
                            <a type="button" class="btn btn-dark"
                                asp-controller="News" asp-action="Details" asp-route-id="@article.Id">
                                Read More
                            </a>
                            @if (isAuthenticated && User.IsInRole("admin"))
                            {
                                <a type="button" class="btn btn-danger"
                                asp-controller="News" asp-action="Delete" asp-route-id="@article.Id">
                                    Delete
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }   
        }
        else
        {
            <p>No news articles found.</p>
        }
    </div>
</body>
</html>
<style>
    .news-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .news-image {
        width: 100%;
        height: auto;
    }

    .news-content {
        padding-left: 50px;
    }

    h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.1em;
        margin-bottom: 20px;
    }
</style>
<script>
    document.getElementById('sortSelect').addEventListener('change', function () {
        var filter = this.value;
        if (filter != 0) {
            window.location.href = '@Url.Action("Index", "News")?filter=' + filter;
        } else {
            window.location.href = '@Url.Action("Index", "News")';
        }
    });
</script>